
    <img class="aside__advert" src="/images/pictures/still-life-map-with-dices.jpg" alt="">
    <img class="aside__advert" src="/images/pictures/still-life-map-with-dices.jpg" alt="">
    <img class="aside__advert" src="/images/pictures/still-life-map-with-dices.jpg" alt="">



   

 