<ul class="nav-menu">
              <li class="nav-item">
                <a href="/mapa/" class="nav-link">Mapa</a>
              </li>
              <li class="nav-item">
                <a href="/pribehy/" class="nav-link">Příběhy</a>
              </li>
              <li class="nav-item">
                <a href="/knihy/" class="nav-link">Knihovna</a>
              </li>
              <li class="nav-item">
                <a href="/deskovky/" class="nav-link">Herna</a>
              </li>
              <li class="nav-item">
                <a href="/kontakty/" class="nav-link">Kontakty</a>
              </li>
            </ul>