---
layout: layouts/main-layout.njk
---

<div class="container">

  <main class="main">

  {{ content | safe }}
  
  
  </main>
  
  <aside class="aside">

    {% include 'partials/aside.njk' %}


  </aside>


</div>


